extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Judah Devasahayam

        p.lead.text-accent
          | Full Stack JavaScript & Android Developer.

        .portfolio-bio
          p
            | Are you looking for a FullStack JavaScript developer who can not only program dynamic websites and design wonderful illustrations,
            | but can also make amazing Android apps for you? 
            br
            br
            | Well, here I am!
            br
            br
            | I'm a proud Full Stack JS #[a(href='https://accredible.com/14337206', target='_blank') Techdegree] graduate from TeamTreehouse.
            | I'm not only good at creating full-fledged websites but I'm also fond of graphic designing and building Android applications.
            | That's not it! I have an arsenal of skills I carry with myself; at your right!
            br 
            br 
            | Also, here's my #[a(href='https://docs.google.com/uc?export=download&id=1V2mWWbkhbxJi74aPvWafVgKHTEI9FEjK', target='_blank') resumé ].
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          h6 Technologies
          ul
            li JavaScript
            li Node.js
            li SQL
            li Java
            li Android
            li HTML
            li CSS
          h6 Libraries & Framework
          ul
            li React
            li JQuery
            li Express
          h6 Tools & Workflow
          ul
            li Sequelize
            li GitHub
          
        h6 Contact Info

        ul
          li lfstone3@gmail.com

        a.button.expanded(href='https://github.com/aliasZadok' target='_blank') GitHub
        a.button.expanded(href='https://play.google.com/store/apps/dev?id=6328328251168545804' target='_blank') Google Play
        a.button.expanded(href='https://www.linkedin.com/in/judah-devasahayam/' target='_blank') Linkedin
        a.button.expanded(href='https://teamtreehouse.com/judahdevasahayam' target='_blank') Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
