extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Judah Devasahayam

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Are you looking for an awesome Developer who can not only program dynamic websites and android apps,
            | but also make amazing graphic designs for you? 
            br
            br
            | Well, here I am!
            br
            | Currently, I'm learning Full Stack JavaScript as a Tech degree student at Treehouse.
            | But I have become very well acquainted with developing websites and web apps, thanks to the wonderful courses and teachers at Treehouse!
            | Other than Web Development and JavaScript, I can also develop Android apps and make decent graphic designs.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Java
          li Python 
          li Android
          li Photoshop
          li Illustrator
          
        h6 Contact Info

        ul
          li 555-555-1234
          li lfstone3@gmail.com

        a.button.expanded(href='https://github.com/aliasZadok' target='_blank') GitHub
        a.button.expanded(href='https://www.instagram.com/awfullydrawnlines' target='_blank') Instagram
        a.button.expanded(href='https://in.pinterest.com/aliaszadok/' target='_blank') Pinterest
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
